h3{
	margin-top:0px;
}
a.entries{
	display: block;
	text-decoration: none;
	/* a partir de aquí el diseño */
	color: #fff; /* color tipográfico */
	font-family: sans-serif; /* familia tipográfica */
	font-size: 10px; /* tamaño de la fuente */
	background-color: #CAB272; /* color de fondo */
	border: 1px solid #CAB272;
	padding: 5px 20px; /* más cuerpo al botón */
	border-radius: 3px; /* puntas redondeadas*/
}
a.entries:hover {
	background-color: #A78C44; /* un simple cambio de fondo para cuando pasamos por encima */
}
a.titles{
	font-size: 12px;
	color:#454876;	
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	margin-top: 3px;
}
img.wallpaper{
	width: 70%;
	height:70%;
	float center
}
h4 { margin: 0 0 5px; padding: 5px 0 3px; font-size: 12px; /* tamaño de la fuente */}

#logo{
  width: 15%;
  float:left;
  height: auto;
}
#logo_img{
  width: auto;
  height: auto;
  max-width: 180px;
  max-height: 100px;
}
#title{
  width: 65%;
  float:left;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color:#454876;
}
#header{
	width:97.5%;
	height:110px;
	margin-top: 1%;
	margin-right: 1%;
	background-color: #f0ddaa;
	padding:0.75%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);		
}
#left{
	width:20%;
	min-height: 700px;
	background-color: #f0ddaa;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
	float:left;
	padding:0.75%;	
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);	
}
#right{
	width:75%;
	height: 700px;
	background-color: #eee;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
	float:left;
	padding:0.75%;
	overflow:auto;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	background-size: auto 200%;
}
#mynetwork {
	display: inline-block;
	max-width:60%;
	height:700px;
	float:right;
}
#info{
	display: inline-block;
	width: 33%;
	height: 700px;
	float:left;
	font-size: 0.6vw;

}
#mytable{
	display: inline-block;
	min-width: 29%;
	max-height:700px;
	float:left;
	font-size: 0.5vw;
}

#footer { font-size: 11px; text-align: center; border-top: 1px solid #ccc; padding: 10px 5px; }

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 95%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 0.5vw;
  font-weight: 100;
  padding:3px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}
a.listCall:hover{
  color:#FFFFFF
}
a.listCall{
  color:#58D3F7
}

th:first-child {
  border-top-left-radius:3px;
}

tr.listCall {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr.listCall:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr.listCall:first-child {
  border-top:none;
}

tr.listCall:last-child {
  border-bottom:none;
}
 
tr.listCall:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr.listCall:nth-child(odd):hover td {
  background:#4E5066;
}
 
td.listCall {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size: 0.55vw;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td.listCall:last-child {
  border-right: 0px;
}

a.listConnection:hover{
  color:#FFFFFF
}
a.listConnection{
  color:#58D3F7
}

tr.listConnection {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr.listConnection:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr.listConnection:first-child {
  border-top:none;
}

tr.listConnection:last-child {
  border-bottom:none;
}
 
tr.listConnection:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr.listConnection:nth-child(odd):hover td {
  background:#4E5066;
}
 
td.listConnection {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size: 0.7vw;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td.listConnection:last-child {
  border-right: 0px;
}
th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
